This config file is designed for use with the weather gif builing program.
It is a list of variables which the program uses to translate information 
onto a template. Each variable should be on its own line, with the variable 
name on one side of an equal sign, and its integer value on the other with 
a single space on either side of the equal sign. The default values are 
zero.
crop_x2 53
crop_y1 625
crop_y2 42
crop_x1 527
scale_x 661
scale_y 0
scale = 7343104
scale = 14232064
scale = 14249472
scale = 14266880
scale = 13947904
scale = 10934528
scale = 55552
scale = 55701
scale = 55769
scale = 44761
scale = 33753
scale = 22489
scale = 217
scale = 174
scale = 140
scale = 135
scale = 105
scale = 85
scale = 65
